.*
~*
*.sh
*.egg-info
__pycache__/
*.py[cod]
!tests/.coveragerc
!.dockerignore
!.flake8
!.gitignore
!.github/*
!.tx/config
!.mypy.ini
!.pre-commit-config.yaml
!.bumpversion.cfg
!.trivyignore
!docker/bin/*.sh
!bandit.yaml
build
dist
coverage.xml
Makefile
site
black.txt
flake8
act.*

