*.pyc

build
~build
/dist
static/*
media
*.egg*
celerybeat-schedule

.tox
.pytest_cache
.coverage
coverage.xml

.idea/
.env
.envrc
.venv/
src/hope_dedup_engine/static
.DS_Store

.vscode

.pdm-python
pdm.toml