.*
~*
__pycache__
!.dockerignore
!.dockerignoredo
!.git
!.tx
!.semgrep
!.python-version
!.github/
!.gitignore
!.pre-commit-config.yaml
!.gitattributes
!.importlinter
!tests/.coveragerc
!docs/**/.pages

junit.xml
coverage.xml

src/hope_dedup_engine/version.py

*.egg-info/

node_modules/
dist/
