[importlinter]
root_package = hope_dedup_engine
exclude_type_checking_imports = True
include_external_packages = True


[importlinter:contract:1]
name = Models must not import Views or Forms
type = layers
containers =
    hope_dedup_engine
layers =
    utils
    api
    admin
    ui
    modules
    models
    utils
exhaustive = false
